/* Спецификация */
body {
	padding: 0;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #323232;
	line-height: 1.4em;
}

* {
	box-sizing: border-box;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-weight: 700;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

.container {
	width: 1110px;
	margin: 0 auto;
}

.btn {
	padding: 12px 0;
	background: #ff7629;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	display: block;
	width: 200px;
	transition: background 0.5s ease;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
}

.btn:hover {
	background: #c24e0b;
	transition: background 0.5s ease;
}

.section-title {
	font-size: 36px;
	line-height: 1.4em;
}

.paragraph {
	width: 561px;
}

/* Первая секция */

.header {
	background: #33056f url("../img/cake.jpg") no-repeat center top / cover;
	color: #fff;
	padding-bottom: 70px;
}

.nav {
	border-bottom: 1px solid rgba(255, 255, 255, 0.58);
}

.inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu a {
	color: #fff;
}

.menu__list {
	display: flex;
}
.menu__item a {
	padding: 31px 22px;
	display: block;
	border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.menu__item a:hover {
	border-bottom: 3px solid #ffffff;
}

.phone {
	display: block;
	color: #fff;
	transition: color 0.5s ease;
}

.phone:hover {
	color: #c24e0b;
	transition: color 0.5s ease;
}

.offer-wrapper {
	margin-top: 139px;
}

.offer__title {
	margin-bottom: 18px;
	font-size: 48px;
	line-height: 1.2em;
	width: 572px;
}
.offer__text {
	margin-bottom: 24px;
	width: 340px;
}

.arrow-down {
	background: url("../img/arrow-down.svg") no-repeat center;
	width: 16px;
	height: 24px;
	display: block;
	opacity: 0.5;
	transition: opacity 0.5s ease;
	margin-top: 168px;
}

.arrow-down:hover {
	opacity: 1;
	transition: opacity 0.5s ease;
}

/* Эксклюзивные сладости */

.exclusive-sweets {
	padding: 99px 0 97px;
}
.exclusive__title {
	margin-bottom: 20px;
	width: 806px;
}
.exclusive__text {
	margin-bottom: 74px;
}
.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.services__item {
	display: flex;
	align-items: center;
	margin-bottom: 51px;
}

.services__img {
	height: 144px;
	width: 210px;
	border-radius: 0px 10px 10px 10px;
}
.services__wrapper {
	display: flex;
	flex-direction: column;
	width: 268px;
	margin-left: 30px;
	color: #000000;
}
.sevices__title {
	font-size: 19px;
}
.services__text {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 15px;
}

.price {
	color: #ff7629;
}

.exclusive__btn {
	margin-top: 29px;
	font-size: 15px;
}

/* Наши работы */

.our-work {
	padding-top: 105px;
	background: #f7f6f8;
	position: relative;
	padding-bottom: 201px;
}

.work {
	border-bottom: 1px solid #b8b8b8;
	padding-bottom: 88px;
	margin-bottom: 46px;
}
.work__title {
	margin-bottom: 20px;
}

.work__img-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 77px;
}

.work__wrap-box {
	display: flex;
	position: relative;
	max-width: 345px;
	height: 265px;
	border-radius: 15px;
	overflow: hidden;
}

.work__images {
	width: 100%;
	height: 100%;
	position: absolute;
	transition: opacity 0.7s ease;
	opacity: 0;
	top: 0;
	left: 0;
}

.work__images:hover {
	background: url("../img/magnifier.svg") no-repeat center,
		linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	border-radius: 15px;
	transition: opacity 0.7s ease;
	opacity: 1;
}

.work__img {
	width: 100%;
	height: 100%;
}

.achievements {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.achievements__item {
	color: #000;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.achievements__digit {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.4em;
	display: block;
	margin-bottom: 4px;
}

.wrap {
	background: #f4eaff;
	border-radius: 15px;
	width: 801px;
	text-align: center;
	margin: 0 auto;
	padding: 35px 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
}
.wrap__title {
	margin-bottom: 21px;
}
.wrap__text {
	width: 625px;
	margin: 0 auto;
}
.wrap__btn {
	margin: 75px auto 0;
	display: block;
}

/* Видео уроки */

.video-lessons {
	padding-bottom: 103px;
	padding-top: 265px;
}
.container-inner {
	width: 830px;
	margin: 0 auto;
}
.video {
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 54px;
}
.video__title {
	margin-bottom: 21px;
}
.video__text {
	margin: 0 auto;
	margin-bottom: 77px;
}
.video__iframe iframe {
	width: 100%;
	height: 426px;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 10px;
}

/* Футер */

.footer {
	background: #f7f6f8;
	padding: 101px 0 92px;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
}

.footer-content__item {
	color: #000;
}
.footer-content__title {
	font-size: 19px;
}
.footer-content__list {
	margin-top: 33px;
}
.footer-content__list-item {
	font-size: 14px;
	margin-bottom: 20px;
	transition: color 0.5s ease;
	display: flex;
}

.footer-content__list-item:last-child {
	margin-bottom: 35px;
}

.footer-content__list-item a {
	color: #000;
	display: flex;
	align-items: center;
}

.footer-content__list-item a:hover {
	color: #c24e0b;
	transition: color 0.5s ease;
}

.footer-content__text {
	font-size: 14px;
}

.footer-content__icon {
	margin-right: 17px;
}

.foter-friends {
	color: #000000;
}
.foter-friends__title {
	margin-bottom: 74px;
	font-size: 19px;
}
.foter-friends__links-item {
	color: #ff7629;
	margin-right: 22px;
	transition: color 0.5s ease;
}

.foter-friends__links-item:hover {
	color: #c24e0b;
	transition: color 0.5s ease;
}

.foter-friends__links-item:last-child {
	margin-right: 0;
}

.footer-mailing {
	color: #000000;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	margin: auto 0px;
}
.footer-mailing__title {
	font-size: 19px;
	margin-bottom: 44px;
}
.footer-mailing__form {
	margin: 19px 0 21px;
	display: flex;
	align-items: center;
	position: relative;
	max-width: 385px;
	width: 100%;
}
.footer-mailing__input {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	width: 100%;
	height: 45px;
	background: #ffffff;
	border: 1px solid #f2f2f2;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
	font-size: 14px;
	color: #000000;
	padding: 15px 65px 13px 33px;
	outline: none;
}
.footer-mailing__btn {
	background: #ff7629 url("../img/send 1.svg") no-repeat center;
	width: 45px;
	height: 45px;
	cursor: pointer;
	border: none;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 30px;
	outline: none;
}

.footer-mailing__btn:hover {
	background: #c24e0b url("../img/send 1.svg") no-repeat center;
}

.footer-mailing__text {
	margin-top: 44px;
}

/* Responsiv */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
	.container {
		max-width: 960px;
	}
	.services__wrapper {
		width: auto;
	}
	.work__wrap-box {
		width: 31%;
	}
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}
	.phone {
		display: none;
	}
	.menu__item a {
		padding: 31px 18px;
	}
	.exclusive__title {
		width: auto;
	}
	.services__wrapper {
		width: 100%;
	}
	.wrap {
		width: 100%;
		max-width: 801px;
	}
	.wrap__text {
		width: 90%;
	}
	.work__img-box {
		flex-wrap: wrap;
	}
	.work__wrap-box {
		width: 100%;
		margin-bottom: 28px;
	}
	.container-inner {
		width: auto;
	}
	.footer-wrapper {
		flex-wrap: wrap;
	}
	.footer-content__item {
		margin-bottom: 82px;
	}
	.footer-mailing__title {
		margin: 0;
	}
	.footer-mailing__text {
		margin: 0;
	}
	.foter-friends {
		width: 50%;
	}
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}
	.menu {
		display: none;
	}
	.phone {
		display: block;
		order: 3;
	}
	.logo {
		order: 2;
	}
	.nav {
		padding: 21px 0 23px;
	}
	.offer__title {
		font-size: 38px;
	}
	.our-work {
		text-align: center;
	}
	.work__img-box {
		justify-content: center;
	}
	.work__wrap-box {
		max-width: 445px;
		height: 365px;
	}
	.achievements {
		flex-wrap: wrap;
		justify-content: center;
	}
	.achievements__item {
		width: 25%;
		margin-bottom: 24px;
	}
	.arrow-down {
		margin-top: 189px;
	}
	.offer-wrapper {
		margin-top: 144px;
	}
	.section-title {
		font-size: 28px;
	}
	.offer__title {
		width: auto;
	}
	.exclusive__text {
		width: auto;
	}
	.paragraph {
		width: auto;
	}
	.wrap {
		width: 90%;
	}
	.footer-wrapper {
		flex-direction: column;
	}
	.footer-mailing {
		margin-top: 83px;
	}
	.video__iframe iframe {
		height: 300px;
	}
	.foter-friends {
		width: auto;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		order: 1;
	}
	.header__burger span {
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 2px;
		top: 9px;
	}
	.header__burger:before,
	.header__burger:after {
		content: "";
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
}

/* Small: 480px - 575px */

@media (max-width: 575px) {
	.container {
		max-width: 100%;
		width: 100%;
		padding: 0 15px;
	}
	.logo {
		order: 1;
	}
	.phone {
		display: none;
	}
	.services__img {
		width: 100%;
		height: auto;
	}
	.services__wrapper {
		margin: 0;
		padding: 15px;
	}
	.services__item {
		flex-direction: column;
	}
	.work__wrap-box {
		max-width: 345px;
		height: 265px;
	}
	.exclusive__btn {
		margin: 0 auto;
	}
}

/* Extra small: 0px (320px) - 479px */
@media (max-width: 479px) {
	.offer__text {
		width: auto;
	}
	.work__img-box {
		margin: 0;
	}
	.work__text {
		margin-bottom: 30px;
	}
	.achievements__item {
		width: 33%;
	}
	.services {
		flex-direction: column;
	}
	.services__item {
		flex-direction: column;
	}
	.foter-friends__title {
		margin-bottom: 55px;
	}
}
